auth/target/*
authtest/target/*
auth/pom.xml.tag
auth/pom.xml.releaseBackup
auth/pom.xml.versionsBackup
auth/pom.xml.next
auth/release.properties
auth/dependency-reduced-pom.xml
auth/buildNumber.properties
auth/.mvn/timing.properties
authtest/test-output/*
auth/.settings/*
auth/.classpath
auth/.project
authtest/.settings/*
authtest/.classpath
authtest/.project
